<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Christopher St. Yves. It uses data from mapbox.com and weatherstack.com</p>
            <img id="robot" src="../images/robot.png">
            <p>Created by {{name}}</p>
        </div>
        {{>footer}}
    </body>
</html>